/* HEADER */
.header {
  display: flex;
  justify-content: flex-start;
  padding: 40px 80px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  font-family: "Helvetica Neue";
}

.drive {
  color: #111;
}

.with {
  color: #f5c65a;
}

/* DIVIDER */
.divider {
  height: 2px;
  width: 80%;
  background: #e6e6e6;
  margin: 0 auto;
}

/* HERO */
.hero {
  padding: 140px 20px;
}

.section-tag {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0.6;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.highlight {
  color: #f5c65a;
  font-style: italic;
}

.subtitle {
  max-width: 600px;
  margin: 0 auto;
  opacity: 0.7;
  line-height: 1.8;
  font-size: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background: #f8f8f8;
  color: #111;
  text-align: center;
}

.page {
  width: 100%;
}

/* BUTTONS */
.hero-buttons {
  margin-top: 40px;
}

.hero-buttons button {
  margin: 10px;
  padding: 14px 30px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.outline {
  background: white;
  border: none;
}

.outline:hover {
  background: #111;
  color: white;
}

.gold {
  background: #f5c65a;
  border: none;
  color: black;
}

.gold:hover {
  opacity: 0.80;
}


/*Fleet*/
.fleet {
  padding: 100px 120px;   
  text-align: left; 
  background: #f8f8f8;
}

.fleet-subtitle {
  font-size: 18px;
  letter-spacing: 4px;
  color: #f5c65a;
  margin-bottom: 20px;
}

.fleet-title {
  font-size: 48px;
  font-weight: 600;
  font-family: "sans-serif";
  margin-bottom: 40px;
}

.fleet-filters {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.filter {
  padding: 12px 28px;
  border-radius: 40px;
  border: none;
  background: #f5c65a;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px; 
}

.filter:hover {
  opacity: 0.80;
}


/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 70px;
}

.stats h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
}

.stats p {
  margin-top: 6px;
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.6;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* WHY */
.why {
  padding: 120px 20px;
}

.section-title {
  font-size: 32px;
  margin-bottom: 60px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.why-grid h3 {
  font-size: 18px;
}

.why-grid p {
  opacity: 0.7;
  line-height: 1.6;
}

.verified {
  margin-top: 60px;
  opacity: 0.6;
}

/* REVIEWS */
.reviews {
  padding: 120px 20px;
}

.review {
  max-width: 700px;
  margin: 50px auto;
}

.stars {
  margin-bottom: 15px;
}

.review p {
  opacity: 0.8;
  line-height: 1.7;
}

/* CTA */
.cta {
  padding: 120px 20px;
}

/* FOOTER */
.footer {
  padding: 80px 20px;
  font-size: 14px;
  opacity: 0.7;
}

.footer .small {
  margin-top: 20px;
  font-size: 12px;
}
